<!-- your html code here -->
<div class="container">
<h1>Contacto</h1>
<h3>¿Qué se pone en información de contacto?
    Los datos de contacto son conjuntos de datos que contienen información sobre personas relevante para la proyección
    de la empresa. Estos conjuntos de datos están predominantemente vinculados o relacionados con datos organizacionales
    o institucionales de las personas.</h3>
</div>
<div class="container">
    <div class="form-group">
        <div>
            <label for="exampleFormControlInput1" class="form-label">Enviar tu Email</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1" class="form-label">Mensaje</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <br>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-primary me-md-2" type="button">Enviar</button>
        </div>
    </div>