<div class="container">
    <div class="row">
      <div class="col-12 mb-5" ><h1>Porfolio</h1>
    <h4 style="font-family:Helvetica, Arial;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat, dolorem! Dolore accusamus unde cum inventore dolorem, maiores nostrum expedita debitis nulla. Eaque dignissimos explicabo doloribus,  laboriosam sequi fugiat molestiae dolorem.</h4></div>
     <div class="col-4"><div class="card" >
        <img src="./assets/img/big-project-image.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text"><h1 class="text-primary">Project name</h1><p> Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div></div>
     <div class="col-4"><div class="card" >
        <img src="./assets/img/big-project-image.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text"><h1 class="text-primary">Project name</h1><p> Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div></div>
     <div class="col-4"><div class="card" >
        <img src="./assets/img/big-project-image.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text"><h1 class="text-primary">Project name</h1><p> Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div></div>
  </div>