<!-- your html code here -->
    <div class="container align-self-center">
        <div class="row">
            <div class="col">
                <img src="./assets/img/2.jpg" class="img-fluid rounded-circle mx-auto d-block" width="200px">
            </div>
            <div class="col">
                <h2>The Second Heading <span class="text-secondary">Is Pretty Cool Too.</h2>
                    <p class="text-lg-start text-wrap">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
        </div>
    </div>
<hr>